* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body,.h-100{
    width: 100vw;
    height: 100vh;
}

.b {
    border: 1px dashed red;
}
.row:after {
    content: '';
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.login {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px dashed black;
    gap: 20px;
}

.img-login{
   width: 100%;
}

.form-login {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    padding: 15px

}

#form-login  {
    width: 100%;
 
}

#form-login > * {
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0px 20px 0px;
}

#submit {
    margin-top: 4rem;
}

/* C - O - V - E - R */
.cover {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.image-cover{
    width: 100%;
    height: 100%;
    background: url('../imgs/cover/wallpaper-04.jpg') no-repeat center;
    background-size: cover;
}

/* .image-cover:hover {
    transform: scale(1.1);
    transition: 1s all;
} */

.cover>img {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    position: absolute;
    bottom: 10px;
    padding: 0px 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.footer > .sound {
    padding: 2px;
    background: transparent;
    border: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#faleConosco {color: black; border-bottom: 2px dashed red;}
#faleConosco:hover {transform: scale(1.1); transition: 0.2s;}



/* ================================================ */
/* TELA - GITHUB-DEVS */
/* ================================================ */

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ================================================ */
/* media screen */
/* ================================================ */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 576px) 
{
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

        /* Formulário de login no centro */
        .form-login {
            width: 100%;
        }
        .login-small {
            position: relative;
        }

        .login {
            position: absolute;
            border: none;

            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    


  }

  @media only screen and (min-width: 576px) 
{ 
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) 
  {   
      .col-md-1 {width: 8.33%;}
      .col-md-2 {width: 16.66%;}
      .col-md-3 {width: 25%;}
      .col-md-4 {width: 33.33%;}
      .col-md-5 {width: 41.66%;}
      .col-md-6 {width: 50%;}
      .col-md-7 {width: 58.33%;}
      .col-md-8 {width: 66.66%;}
      .col-md-9 {width: 75%;}
      .col-md-10 {width: 83.33%;}
      .col-md-11 {width: 91.66%;}
      .col-md-12 {width: 100%;}
    }

    @media only screen and (min-width: 992px) 
    {
        .col-lg-1 {width: 8.33%;}
        .col-lg-2 {width: 16.66%;}
        .col-lg-3 {width: 25%;}
        .col-lg-4 {width: 33.33%;}
        .col-lg-5 {width: 41.66%;}
        .col-lg-6 {width: 50%;}
        .col-lg-7 {width: 58.33%;}
        .col-lg-8 {width: 66.66%;}
        .col-lg-9 {width: 75%;}
        .col-lg-10 {width: 83.33%;}
        .col-lg-11 {width: 91.66%;}
        .col-lg-12 {width: 100%;}
      }
  





